[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sparqlwrapper = "*"
rdflib = "*"
numpy = "*"
pandas = "*"
owlready2 = "==0.22"
networkx = "*"

[dev-packages]

[requires]
python_version = "3.8"
