[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
owlready2 = "==0.22"
rdflib = "==4.2.2"
sparqlwrapper = "==1.8.5"
networkx = "==2.4"
numpy = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.7"
